

.fondoApp {

background-image: url('./Portada/Imagen_Portada/mar.gif') ; 
opacity: 1 ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-left: 20px;
padding-right: 20px;

height: 100%;

}



.App .boxButton {

  box-sizing: border-box;
  width: 250px;
  height: 230px;
  padding: 5px;  
  border: 1px solid rgb(36, 26, 175);
  overflow: scroll;
}
.App .Carrusel {
    margin-top: auto;
    margin-left: 160px;
    margin-right: 140px;
}  
.App.Carrusel:hover{
      transition: 3s;
  transform : scale(2);
}

.opciones{
  display: flex;
  border:2px solid coral;
  color: white;
  height: 80px;
  justify-content: space-between;

}
 .botonOpcion{
  width: 200px;
  border-radius: 10px;
}
.ofertas{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5px;

}
.carta-oferta{
  display: flex;
  border:2px solid coral;
  flex-direction: column;
  background-color: #24a845;
  color: white;
  height: 300px;
  width: 100;
  justify-content: center;
  align-items: center;
}

