.AutoPlayCarrusel {
    margin-bottom: 20px;
    margin-left: 120px;
}

.styleImagen {
    margin: 0px;
    height: 600px;
    width: auto;
}

.buttonImgCarrusel {
    border-bottom-style: outset;
}

.textoImagenes {
    color: white;
    position: absolute;
    left: 200px;
    top: 250px;
    transform: initial;
    animation: texto 14s infinite;
}

@keyframes texto {
    0% {
        opacity: 0;
        font-size: 0px;
        font-family: Arial;
    }
    25% {
        opacity: 0;
        font-size: 0px;
        font-family: Arial;
    }
    75% {
        opacity: 1;
        font-size: 65px;
        font-family: Arial;
    }
    90% {
        opacity: 0;
        font-size: 0px;
        font-family: Arial;
    }
    100% {
        opacity: 0;
        font-size: 0px;
        font-family: Arial;
    }
}