.Carrusel {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 140px;
    margin-right: 20px;
}

.imagenCarrusel:hover {
    transform: scale(1.3);
    transition-duration: 2s;
}

.imagenCarruselText {
    font-size: 5px;
    color: black;
    opacity: 0;
    position: absolute;
    left: 50px;
    top: 50px;
    transition-duration: 1.5s;
}

.imagenCarruselText:hover {
    font-size: 15px;
    opacity: 1;
}