.header {
    display: flex;
    border:2px solid coral;
    background-color: #d39e9e;
    color: white;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    }
    .buttonheader{
    background-color: rgb(0, 89, 255);
    font-size: 40px;
    font-weight: 1000;
    width: 100%;
    padding: 8px;
    border-color: darkgreen;
    border-radius: 15px;
    transition: background-color .5s;
    text-shadow: 2px 2px 0 #AAA,
    6px 6px 2px #777,
    12px 12px 8px #444;
    }
    .buttonheader:hover{
    background-color: rgb(76, 194, 47);
    border-radius: 15px;
    
    }
    
    .buttonloggin{
    background-color: darkturquoise;
    border-radius: 20px;
    height: 50px;
    width: 80px;
    
    }
    .createaccount{
    border-radius: 10pc
    }
