.login-form {
    position: absolute;
    background-color: blue;
    right:25px;
    z-index: 3;
    
    width: 300px;
    padding: 20px;
    border: 2px solid rgb(4, 4, 136);
    margin: 20px auto;
    border-radius: 4px;
    text-align: center;
    }
    
    .login-form label {
    display: block;
    }
    
    .login-form button {
    z-index: 3;
    margin-top: 10px;
    }